@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	font-weight: normal;
	color: #333;
	background: rgb(66, 65, 65);
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sectionTitle {
	border-bottom: 2px solid rgb(8, 187, 241);
	display: inline-block;
	line-height: 2;
}

@media screen and (max-width: 411px) {
	.sectionTitle {
		font-size: 1rem;
	}
}
