.featured {
  min-height: 50vh;
}

.itemImg {
  min-height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../images/scss.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
