.header {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .5)), url('../images/headerbg.jpeg');
}

.headerDescription {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.socialIcon a {
    color: #fff;
}

.socialIcon i {
    border: 1px solid #fff;
    padding: .7rem;
    border-radius: 50%;
}

@media screen and (max-width: 411px) {
    .heroTitle {
        font-size: 1.2rem;
    }

    .heroStack {
        font-size: 1.4rem;
    }

    .headerText, .workAlert, .resumeBtn {
        font-size: .8rem;
    }

    .socialIcon i {
        padding: .5rem;
    }
}
