.header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../images/headerbg.jpeg');
  line-height: 1.6;
}

.headerDescription {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.socialIcon a {
  color: #fff;
}

.socialIcon i {
  border: 1px solid #fff;
  padding: 0.7rem;
  border-radius: 50%;
}

@media screen and (max-width: 411px) {
  .heroTitle {
    font-size: 1.2rem;
  }

  .heroStack {
    font-size: 1.4rem;
  }

  .headerText,
  .workAlert,
  .resumeBtn {
    font-size: 0.8rem;
  }

  .socialIcon i {
    padding: 0.5rem;
  }
}
