.projectsSection {
	min-height: 50vh;
}

.cardBody {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 40vh;
	color: #fff;
}

.catalogue {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../images/food.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.lifestyles {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../images/lifestyle.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bugDodger {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../images/keyboard.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.scrapper {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../images/scraper.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.calculator {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../images/calculator.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.magicBooks {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../images/books.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.technology {
	background: grey;
}
